*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background-color: black;
    overflow-x: hidden;
}

 #profile{
    position: absolute;
    right: 20px;
    top: 5px;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
 }

 .icon{
    position: absolute;
    right: 10px;
 }
 #container-add,#container-update{
    width: 500px;
    height: 450px;
    margin-top: 40px;
    background-color: white;
    position: relative;
 }

 .title{
    padding: 30px 20px;
    width: 100%;
    margin-top: 20px;
 }
 .inputT{
    width: 430px;
    height: 30px;
    background-color: #b2afa1;
    border: none;
    border-radius: 5px;
 }
 .descrip{
padding: 20px;
 }
 .descrip textarea{
    width: 430px;
    height: 100px;
    resize: none;
    border: none;
    background-color: #b2afa1;
    
 }
 #addbtn,#updatebtn{
    margin-left: 180px;
 }
.none{
    display: none !important;
}
.start{
   width: 400px;
   height: 500px;
   background-color: aquamarine;
}
#todos-list {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 15px; 
   justify-content: flex-start; 
   align-items: start;
   max-width: 100%;
 }
 
 #singletodo {
   flex: 1 1 calc(33.333% - 30px); 
   color: black;
   padding: 20px 30px;
   border: 1px solid white;
   border-radius: 10px;
   background-color: white;
   text-align: center;
   box-sizing: border-box;
 }
#backbtn,#ubackbtn{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2.5rem;
  cursor: pointer;
}
.heading{
color: white;
text-align: center;
margin-top: 20px;
text-transform: capitalize;
}
.heading::before{
   content: "";
   width: 15px;
   height: 15px;
   background-color: yellow;
   border-radius: 100%;
   display: inline-block; 
   margin-bottom: 4px;
   margin-right: 5px;
}
.heading2{
color: white;
text-align: center;
margin-top: 20px;
text-transform: capitalize;
}
.heading2::before{
   content: "";
   width: 15px;
   height: 15px;
   background-color: yellowgreen;
   border-radius: 100%;
   display: inline-block; 
   margin-bottom: 4px;
   margin-right: 5px;
}
#noTodo2{
   color: white;
   font-size: 1rem;
   font-weight: 700;
   margin-top: 20px;
   text-align: center;
   padding: 0px 0px 0px 10px;
}
#noTodo{
   color: white;
   font-size: 1rem;
   font-weight: 700;
   margin-top: 20px;
   text-align: center;
   padding: 0px 0px 0px 10px;
}